APP_NAME=cronjob
PORT=3333

DB_HOST=host
DB_PORT=port
DB_NAME=name
DB_ZONE=Europe/Istanbul
DB_USER=user
DB_PASS=pass

MAIL_HOST=host
MAIL_PORT=port
MAIL_USER=user
MAIL_PASS=pass
MAIL_ENCRYPTION=ssl
MAIL_FROM=from
MAIL_FROM_NAME=name

JWT_SECRET=secret