{{template "base" . }}
{{define "navlink"}}
<ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
    <li class="mr-2">
        <a class="inline-block py-2 px-2 text-white no-underline hover:underline" href="/">HOME</a>
    </li>
    <li class="mr-2">
        <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:underline py-2 px-2" 
            href="/post">POST</a>
    </li>
</ul>
{{end}}