:root {
    ::-webkit-scrollbar {
        height: 10px;
        width: 10px
    }

    ::-webkit-scrollbar-track {
        background: #efefef;
        border-radius: 6px
    }

    ::-webkit-scrollbar-thumb {
        background: #d5d5d5;
        border-radius: 6px
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #c4c4c4
    }
}

.smooth {
    transition: box-shadow 0.3s ease-in-out;
}

::selection {
    background-color: aliceblue
}

:root {
    ::-webkit-scrollbar {
        height: 10px;
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #efefef;
        border-radius: 6px
    }

    ::-webkit-scrollbar-thumb {
        background: #d5d5d5;
        border-radius: 6px
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #c4c4c4
    }
}

/*scroll to top*/
.scroll-top {
    position: fixed;
    z-index: 50;
    padding: 0;
    right: 30px;
    bottom: 100px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all .4s ease;
    border: none;
    box-shadow: inset 0 0 0 2px #ccc;
    color: #ccc;
    background-color: #fff;
}

.scroll-top.is-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.scroll-top .icon-tabler-arrow-up {
    position: absolute;
    stroke-width: 2px;
    stroke: #333;
}

.scroll-top svg path {
    fill: none;
}

.scroll-top svg.progress-circle path {
    stroke: #333;
    stroke-width: 4;
    transition: all .4s ease;
}

.scroll-top:hover {
    color: var(--ghost-accent-color);
}

.scroll-top:hover .progress-circle path,
.scroll-top:hover .icon-tabler-arrow-up {
    stroke: var(--ghost-accent-color);
}